# For loop

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
# which means range(i to n-1)

In [7]:
for i in range(0,10,1): # 1 is a step
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
# here in for loop, it always initialize, condition check, increment at a same time within range function
# but in while loop, need to initiate,condition check,increment seperately

In [9]:
for i in range(0,10,-1):
    print(i)

In [10]:
# here no output. bcoz the condition not satisfied. 0 is not greater than 10

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [13]:
# see here, the condition is satisfied. 10 is greater than 0.

In [15]:
for i in range(0,10,2):# with 2 step
    print(i)

0
2
4
6
8

# Print method

In [16]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [17]:
# For print method, always it goes to new line after executing the statement. see always end = '\n'

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(10):
    print(i,end = "\n") # see both are same. no need to give \n

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(10):
    print(i, end = " ") # now it prints in same line with space

0 1 2 3 4 5 6 7 8 9

In [27]:
for i in range(10):
    print(i, end = "ðŸ˜Š") # space filled with smiley

0ðŸ˜Š1ðŸ˜Š2ðŸ˜Š3ðŸ˜Š4ðŸ˜Š5ðŸ˜Š6ðŸ˜Š7ðŸ˜Š8ðŸ˜Š9ðŸ˜Š

In [28]:
for i in range(10):
    print(i, end = "*") # space filled with star

0*1*2*3*4*5*6*7*8*9*

# For loop (inner and outer loop)

In [30]:
for i in range(5): # 0 1 2 3 4
    print(i)

0
1
2
3
4

In [31]:
for i in range(5): # 0 1 2 3 4
    for j in range(2): # 0 1
        print(j)

0
1
0
1
0
1
0
1
0
1

In [32]:
# see j is 0 1 
# j will print i times(5 times)

In [33]:
for i in range(5):
    for j in range(2):
        print(j, end = ' ')

0 1 0 1 0 1 0 1 0 1

In [35]:
for i in range(5):
    for j in range(2):
        print(j, end = ' ') # after completing this print statement, it goes to next new line
    print(" ") # now this print statement also after printing, it goes to next new line. So it goes to outer loop

0 1
0 1
0 1
0 1
0 1

In [37]:
for i in range(5): # 0 1 2 3 4 
    for j in range(4): # 0 1 2 3 
        print(i, end = ' ') # printing i here 5 times

0 0 0 0 1 1 1 1 2 2 2 2 3 3 3 3 4 4 4 4

In [38]:
for i in range(5): # 0 1 2 3 4 
    for j in range(4): # 0 1 2 3 
        print(j, end = ' ') # printing j here 5 times

0 1 2 3 0 1 2 3 0 1 2 3 0 1 2 3 0 1 2 3

In [42]:
for i in range(5): # 0 1 2 3 4 
    for j in range(4): # 0 1 2 3 
        print(i, end = ' ') # printing i here 5 times and goes to next line
    print(" ") # printing space with next line with outer loop

0 0 0 0
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [43]:
for i in range(5):
    for j in range(4):
        print(i, end = ' ') # printing i here 5 times and goes to next line
        print(" ") # printing space with next line

0
0
0
0
1
1
1
1
2
2
2
2
3
3
3
3
4
4
4
4

In [44]:
for i in range(3): # 0 1 2
    for j in range(2): # 0 1 
        print(i, end = ' ') # printing i here 3 times and goes to next line
        print(" ")

0
0
1
1
2
2

In [47]:
for i in range(3): # 0 1 2
    for j in range(2): # 0 1 
        print(j, end = ' ') # printing j here 3 times and goes to next line
    print(" ")

0 1
0 1
0 1

In [49]:
for i in range(3): # 0 1 2
    for j in range(5): # 0 1 2 3 4
        print(j, end = ' ') # printing j here 3 times and goes to next line
    print(" ")

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [50]:
# See for all, i has rows and j has columns. Eg: In above, 3 rows and 5 columns. i=3,j=5

In [52]:
for i in range(3): # 0 1 2
    for j in range(5): # 0 1 2 3 4
        print(i, end = ' ') # printing i here 3 times and goes to next line
    print(" ")

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2

In [54]:
for i in range(5): # 0 1 2 3 4 
    for j in range(5): # 0 1 2 3 4
        print(i, end = ' ') # printing i here 5 times and goes to next line
    print(" ")

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [56]:
for i in range(5): # 0 1 2 3 4 
    for j in range(5): # 0 1 2 3 4
        print(j, end = ' ') # printing j here 5 times and goes to next line
    print(" ")

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [57]:
for i in range(5): # 0 1 2 3 4 
    for j in range(5): # 0 1 2 3 4
        print('*', end = ' ') # printing i here 5 times and goes to next line
    print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [61]:
for i in range(5): # 0 1 2 3 4 
    for j in range(i): # 0 1 2 3 4
        print('*', end = ' ') # printing * here 5 times and goes to next line
    print(" ")

*
* *
* * *
* * * *

In [60]:
for i in range(5): # 0 1 2 3 4 
    for j in range(i+1): # 0 1 2 3 4
        print('*', end = ' ') # printing * here 5 times and goes to next line with increment
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [62]:
n = 5

In [63]:
for i in range(5):
    print("* " * (i+1))

*
* *
* * *
* * * *
* * * * *

# which means * multiplied by i times so,

0 -> *
1 -> **
2 -> ***
3 -> ****
4 -> *****