In [11]:
# 5 * 3 = 15 elements will be printed

for i in range(0,5): # 0 1 2 3 4
    for j in range(0,3): # 0 1 2 (printing 0,1,2 for 5 times)
        print(j)

0
1
2
0
1
2
0
1
2
0
1
2
0
1
2

# i value is 0 means 0,1,2 will be printed
# i value is 1 means 0,1,2 will be printed
# i value is 2 means 0,1,2 will be printed
# i value is 3 means 0,1,2 will be printed
# i value is 4 means 0,1,2 will be printed


So totally 15 elements

In [6]:
for i in range(0,5): # 0 1 2 3 4
    for j in range(0,3): 
        print(i)

0
0
0
1
1
1
2
2
2
3
3
3
4
4
4

# i value is 0 means 0,0,0 will be printed bcoz it's printing 'i'
# i value is 1 means 1,1,1 will be printed bcoz it's printing 'i'
# i value is 2 means 2,2,2 will be printed bcoz it's printing 'i'
# i value is 3 means 3,3,3 will be printed bcoz it's printing 'i'
# i value is 4 means 4,4,4 will be printed bcoz it's printing 'i'

So totally 15 elements

In [9]:
for i in range(0,5): # 0 1 2 3 4
    for j in range(0,3):
        print(i, end = " ")
    print(" ")

0 0 0
1 1 1
2 2 2
3 3 3
4 4 4

In [15]:
for i in range(0,5): # 0 1 2 3 4
    for j in range(0,i):
        print(i, end = " ")
    print(" ")

1
2 2
3 3 3
4 4 4 4

# i=0 means (0,0) -> So it will never print anything
# i=1 means (0,1) -> So, it will print 1 
# i=2 means (0,2) -> So, it will print 2 2
# i=3 means (0,3) -> So, it will print 3 3 3
# i=4 means (0,4) -> So, it will print 4 4 4 4

1 print 1 time(0-1)
2 print 2 times(0-2)
3 print 3 times(0-3)
4 print 4 times(0-4)

In [20]:
for i in range(0,5): # 0 1 2 3 4
    for j in range(1,i):
        print(i, end = " ")
    print(" ")

2
3 3
4 4 4

# i=0 means (1,0) -> So it will never print anything
# i=1 means (1,1) -> So, it will never print anything 
# i=2 means (1,2) -> So, it will print 2 
# i=3 means (1,3) -> So, it will print 3 3 
# i=4 means (1,4) -> So, it will print 4 4 4 

2 print 1 time(2-1)
3 print 2 times(3-1)
4 print 3 times(4-1)

In [12]:
for i in range(5): # 0 1 2 3 4 
    for j in range(3): # 0 1 2
        print(j, end = " ") # printing 0,1,2 for 5 times
    print(" ")

0 1 2
0 1 2
0 1 2
0 1 2
0 1 2

In [19]:
for i in range(0,5): # 0 1 2 3 4
    for j in range(0,i): 
        print(j, end = " ")
    print(" ")

0
0 1
0 1 2
0 1 2 3

# i=0 means (0,0) -> So it will never print anything
# i=1 means (0,1) -> So, it will print 0 
# i=2 means (0,2) -> So, it will print 0 1
# i=3 means (0,3) -> So, it will print 0 1 2
# i=4 means (0,4) -> So, it will print 0 1 2 3

0         print 1 time(0-1)
0 1       print 2 times(0-2)
0 1 2     print 3 times(0-3)
0 1 2 3   print 4 times(0-4)

In [21]:
for i in range(0,5): # 0 1 2 3 4
    for j in range(1,i): 
        print(j, end = " ")
    print(" ")

1
1 2
1 2 3

# i=0 means (1,0) -> So it will never print anything
# i=1 means (1,1) -> So, it will never print anything
# i=2 means (1,2) -> So, it will print 1
# i=3 means (1,3) -> So, it will print 1 2
# i=4 means (1,4) -> So, it will print 1 2 3


1       print 1 times(2-1)
1 2     print 2 times(3-1)
1 2 3   print 3 times(4-1)

In [22]:
for i in range(10):
    for j in range(i):
        print(j, end = " ")
    print(" ")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

In [23]:
# see here also 0,0 is not printing and then it follows the same scenerio

In [24]:
for i in range(10):
    for j in range(i):
        print(i, end = " ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [25]:
# see here also 0,0 is not printing and then it follows the same scenerio

In [26]:
for i in range(10):
    for j in range(i+1):
        print(i, end = " ")
    print(" ")

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

# i=0 means (i+1) -> ((0,0) + 1)  -> 0+1 = 1 time printing 0
# i=1 means (i+1) -> ((0,1) + 1)  -> 1+1 = 2 times printing 1
# i=2 means (i+1) -> ((0,2) + 1)  -> 2+1 = 3 times printing 2
# i=3 means (i+1) -> ((0,3) + 1)  -> 3+1 = 4 times printing 3
# i=4 means (i+1) -> ((0,4) + 1)  -> 4+1 = 5 times printing 4 and so on

In [28]:
for i in range(10):
    for j in range(1,i+1): # starting from 1 index
        print(i, end = " ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [29]:
for i in range(10):
    for j in range(i+1):
        print(j, end = " ")
    print(" ")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [30]:
for i in range(10):
    for j in range(1,i+1):
        print(j, end = " ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [32]:
for i in range(2): # 0 1
    for j in range(3):
        print(i, end = " ") # 0 1 printed for 2 rows
    print(" ")

0 0 0
1 1 1

In [34]:
for i in range(2): # 0 1
    for j in range(3): # 0 1 2
        print(j, end = " ") # 0 1 2 printed for 2 rows
    print(" ")

0 1 2
0 1 2

In [35]:
for i in range(5):
    for j in range(i+1):
        print(j, end = " ")
    print(" ")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4