# Pattern

In [3]:
n = 3

In [4]:
for i in range(n):
    print("* " * n)

* * *
* * *
* * *

In [6]:
for i in range(n):
    print("archana " * n)

archana archana archana
archana archana archana
archana archana archana

In [8]:
for i in range(n):
    print(i * n)

0
3
6

In [14]:
for i in range(n):
    print(i)

0
1
2

# To get static values - We are converting i to string. To get i to n times

In [11]:
for i in range(n):
    print(str(i))

0
1
2

In [15]:
for i in range(n):
    print(str(i) * n)

000
111
222

In [13]:
for i in range(n):
    print((str(i)+ " ") * n)

0 0 0
1 1 1
2 2 2

In [9]:
for i in range(n):
    print((str(i+1)+ " ") * n)

1 1 1
2 2 2
3 3 3

In [16]:
n = int(input("Enter the number: "))

Enter the number: 5

In [17]:
n

5

In [18]:
for i in range(n):
    print(i)

0
1
2
3
4

In [20]:
for i in range(n):
    print(n) # this will print n for 5 times

5
5
5
5
5

In [23]:
for i in range(n):
    print(str(n))

5
5
5
5
5

In [24]:
for i in range(5):
    print(n * n)

25
25
25
25
25

In [26]:
for i in range(n):
    print(str(n) * n) # to get fixed or static values. we convert to string

55555
55555
55555
55555
55555

In [27]:
for i in range(n):
    print((str(n)+ " ") * n) # (5) * 5 times

5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [29]:
for i in range(n):
    print("* " * n) # (*) to 5 times

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [30]:
for i in range(n):
    print("* " * (n-i))

* * * * *
* * * *
* * *
* *
*

In above case:
    0 -> * * * * * -> ((*) * (5 - 0 = 5)) => * 5 times
    1 -> * * * * -> ((*) * (5 - 1 = 4)) => * 4 times
    2 -> * * *  -> ((*) * (5 - 2 = 3)) => * 3 times
    3 -> * *  -> ((*) * (5 - 3 = 2)) => * 2 times
    4 -> *  -> ((*) * (5 - 4 = 1)) => * 1 time

# To get incremented values, we need to use inner loop

In [32]:
for i in range(n): # 0 1 2 3 4
    for j in range(i+1): # 
        print(j+1, end = " ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [39]:
for i in range(n): # 0 1 2 3 4
    for j in range(i): # 
        print(i, end = " ")
    print(" ")

1
2 2
3 3 3
4 4 4 4

In [40]:
for i in range(n): # 0 1 2 3 4
    for j in range(i): # 
        print(j, end = " ")
    print(" ")

0
0 1
0 1 2
0 1 2 3

In [38]:
for i in range(n): # 0 1 2 3 4
    for j in range(i): # 
        print(j, end = " ")
    print(" ")

0
0 1
0 1 2
0 1 2 3

In [37]:
for i in range(n): # 0 1 2 3 4
    for j in range(i+1): # 
        print(j, end = " ")
    print(" ")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [35]:
for i in range(n): # 0 1 2 3 4
    for j in range(i): 
        print(j+1, end = " ")
    print(" ")

1
1 2
1 2 3
1 2 3 4

In [36]:
for i in range(n):
    print(i+1)

1
2
3
4
5

In [50]:
n = 3

In [57]:
# Printing j

In [51]:
for i in range(n): # 0 1 2
    for j in range(i): 
        print(j, end = " ")
    print(" ")

0
0 1

In [52]:
for i in range(n): # 0 1 2
    for j in range(i+1): 
        print(j, end = " ")
    print(" ")

0
0 1
0 1 2

In [53]:
for i in range(n): # 0 1 2
    for j in range(i+1): 
        print(j+1, end = " ")
    print(" ")

1
1 2
1 2 3

In [58]:
# Printing i

In [54]:
for i in range(n): # 0 1 2
    for j in range(i): 
        print(i, end = " ")
    print(" ")

1
2 2

In [55]:
for i in range(n): # 0 1 2
    for j in range(i+1): 
        print(i, end = " ")
    print(" ")

0
1 1
2 2 2

In [56]:
for i in range(n): # 0 1 2
    for j in range(i+1): 
        print(i+1, end = " ")
    print(" ")

1
2 2
3 3 3

In [59]:
# printing with incremented values

In [61]:
for i in range(5):
    for j in range(i+1):
        print(j+1, end = " ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [66]:
for i in range(5):
    for j in range(i+1):
        print(j, end = " ")
    print(" ")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [67]:
for i in range(5):
    for j in range(i+1):
        print("* ", end = " ")
    print(" ")

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [72]:
for i in range(5):
    for j in range(5):
        print(j+1, end = " ")
    print(" ")

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5